$primary-background: gray;

$cornflower: #7B8CDE;

$earth: #DCAB6B;

$brown: #8D5C2A;

$charcoal: #304F5F;

$gunmetal: #223944;

$montserrat: 'Montserrat', sans-serif;

$slight-curve: 10px;

$bright-red: #FF2E1F;
