/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_reset';

* {
  // margin: 3px;
  border: 1px solid blue;
}

body {
  background: $primary-background;
  display: flex;
  flex-direction: column;
}

.top-banner {
  display: flex;
  justify-content: space-between;
  background-color: teal;
  min-height: 70px;
}

.trip-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
  margin: 5px;
}

.trip-card {
  display: block;
  height: 400px;
  width: auto;
  background-color: white;
}

.trip-info {
  padding: 5px;
}

.destination-photo {
  position: relative;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.destination-name {
  align-self: flex-end;
  position: relative;
  color: white;
  font-size: 24px;
}

.trip-dates::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
